{% extends "base.html" %} 
{% block title %} LinkedIn Video Downloader {% endblock %}

{%block body %}
    <main class="error-body">
        <p class="error-text">
            4<span><img src="{{ url_for('static', filename='images/error_helpers/linkedinsave_404_image.png') }}" alt="Linkedin Save Eror 404 Image"></span>4
        </p>
        <p class="error-helper">
            Hi Stranger. You seem lost, Please click <a href="{{url_for('index')}}"> <span> here </span></a> 
        </p>

    </main>

{% endblock %}