:root{
    --light-blue: #e6f5ff;
    --mg-bottom: 30px;
    --deep-black: #000000;
    --main-white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
}

body, form{
    display: flex;
    justify-content: center;
}

body{
    font-family: 'Tilt Neon', cursive;
    background-color: var(--light-blue);
    text-align: center;
}

h1{
    margin-top: 35vh;
}

form{
    flex-direction: column;
    align-items: center;
}

.flash{
    position: absolute;
    top: 5vh;
    right: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.success, .danger{
    color: var(--main-white);
    padding: 20px 10px;
}

.success{
    background-color: green;
}

.danger{
    background-color: red;
}

h1, input[type="submit"]{
    margin-bottom: var(--mg-bottom);
}

input[type="text"]{
    width: 100%; 
    padding: 15px 20px;
    border-radius: 19px;
    margin-bottom: var(--mg-bottom);
    border: none;
    font-size: 11pt;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type="submit"]{
    padding: 5px 15px;
    background-color: var(--deep-black);
    color: var(--light-blue);
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: var(--mg-bottom);
}

input[type="submit"]:hover{
    background-color: var(--light-blue);
    color: var(--deep-black);
    border: 1px solid var(--deep-black);
    transition: ease-in-out 0.4s;
}

.loader {
    border: 16px solid var(--main-white);
    border-top: 16px solid  #003d66;
    border-radius: 50%;
    margin: 10vh 0 2vh 0;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
    position: absolute;
    right: 50%;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden{
    display:none;
}

@media screen and (max-width: 700px) {
    input[type="text"]{
        width: 80%; 
    }
}