<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> {% block title %} Home {% endblock %} </title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/linkedinsave_favicon_white.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;600;700&family=Tilt+Neon&display=swap" rel="stylesheet">
    <!-- Site ad -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8665704116946939"
     crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <nav>
            <div>
                <a href="{{ url_for('index') }}" class="logo"> <img src="{{ url_for('static', filename='images/linkedinsave_logo.png') }}" alt="Linkedin Save Logo"> </a>
            </div>
        </nav>
    </header>

    {%block body %}

    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>