<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkedIn Video Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;600;700&family=Tilt+Neon&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <!-- <div class="loader" id="video_loader"> 
        </div>-->

        <div class="flash">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>

        <h1>LinkedIn Video Donwloader </h1>
        <form action="" method="post">
            <input type="text" placeholder="paste link here" name="url" required>
            <input type="submit" value="Download">
        </form>
    </main>


</body>
</html>