{% extends "base.html" %} 
{% block title %} LinkedIn Video Downloader {% endblock %}

{%block body %}
    <main>
        <div class="flash">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
       
        <div class="form">
            <h1>LinkedIn Video Downloader </h1>
            <form action="" method="post" autocomplete="off">
                <input type="text" id="url" placeholder="paste link here" name="url" onkeyup="inputListener()" required>
            </form>

            <div class="loader hidden" id="video_loader"> 
            </div>
            <p id="action-text" class="hidden"> Getting Linkedin video, please wait...</p>

            <a id="download-anchor" href=""> 
                <button id="download" class="download hidden"> Download </button>
            </a>
        </div>



</main>
{% endblock %}
